body {
    margin: 0;
    padding: 0;
}

.MastrMindWrapper {
    width: 100vw;
    background: white;
    text-align: center;
}

.container {
    display: inline-block;
}

.rowElement {
    display: flex;
    width: 5vh;
    height: 5vh;
    padding: 10px;
    background: #2D2D2D;
}

.rowElement:last-child {
    width: 10vh;
    align-items: center;
    justify-content: space-evenly;
}

.active>.rowElement:last-child>.Hint {
    display: none;
}

.visual {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: white;
}

.orange {
    background: #f0932b;
}

.red {
    background: #eb4d4b;
}

.green {
    background: #6ab04c;
}

.white {
    background: #c7ecee;
}

.blue {
    background: #4834d4;
}

.black {
    background: #130f40;
}

.grey {
    background: #535c68;
}

.violet {
    background: #be2edd;
}

.palette>div {
    display: inline-block;
    width: 60px;
    height: 60px;
}

.row {
    display: flex;
    align-items: flex-start;
}

.Hint {
    width: 20%;
    height: 40%;
    border-radius: 50%;
    background: white;
    display: inline-block;
}

.found {
    background: green;
}

.partFound {
    background: black;
}

#validationButton {
    width: 100%;
    height: 100%;
    background: #378AD3;
    border-style: none;
    border-radius: 8px;
    color : white;
    font-size: 1em;
}