/* general setup */
body {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* Top Menu */
    #NavBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }

    #NavBar li {
    float: left;
    }

    #NavBar li a {
    display: block;
    font-size: 3vh;
    color: white;
    text-align: center;
    padding: 34px 36px;
    text-decoration: none;
    }

    /* the link color to #111 (black) on hover */
    #NavBar li a:hover {
    background-color: #111;
    }

/* Home IMG */
    #HomeIMG{
        height: 120vh;
        width: 100%;
        overflow: hidden;
    }

    #HomeIMG img{
        position: fixed;
        z-index: -1;
        min-width: 100vw;
        transform: translate(0, -150px);
    }

    #HomeIMG .text{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    #HomeIMG .text div{
        font-family: 'Spartan', sans-serif;
        font-size: 5vh;
        color: whitesmoke;
    }

/* Game */
    #Game {
        height: 100vh;
        background: black;
    }

/* Footer */
    footer {
        /* position */
        z-index: 3;
        position: sticky;
        top: 95vh;
        background-color: red;
        height: 5vh;
        /* child position */
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* background */
        background-color: #333;
        /* text */
        color: white;
    }



    footer .info a{
        text-decoration: none;
    }

    footer img{
        height: 4vh;
        width: 6vh;
    }

/* Rules */
    #rules {
        transform: translate(0, -5vh);
        height: 100vh;
        background: white;
    }